<h1>Create A Post</h1>

<%= form_for(@post) do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %><br>
   <%= f.label :post %>
   <%= f.text_field :post %><br>

   <%= f.submit :Post%>
<% end %>

